img, video {
	max-width: 100%;
}

.container {
	display: flex;
	}

nav, a, button {
	min-width: 48px;
	min-height: 48px;
}

/***************************************
*************HEADER********************
***************************************/
header {
	width: 90%;
	margin: auto;
	height: 20%;
}

@media screen and (max-width: 995px) {
	.logo {
		margin-right: 42.5%;
		margin-left: 42.5%;
		width: 15%;
	}
	.name{
		text-align: center;
	}
	.myname{
		font-size: 190%;
	}
}

@media screen and (min-width: 996px) {
	.logo {
		width: 40%;
		margin-left: 30%;
		margin-right: 30%;
	}
	.name{
		text-align: right;

	}
}
.name {
	height: 100%;
	padding-right: 1%;
}


.myname {
	font-family: Roboto, Arial, Gadget, sans-serif;
	font-weight: 100;
	margin-bottom: 0px;
}

.mytitle {
	font-family: Roboto,Arial, Gadget, sans-serif;	
	font-weight: 500;
	color: #000000;
	margin-bottom: 3%;
}

/**************************************************
***************************************************
**************************************************/
.row {
	width: 100%;
}

hr {
	height:2px;
	background-color:#7d97ad;
	box-shadow: 0 0 0 0;
	margin-top: 0px;
}

.mainpic {
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;
}

/********************************
***********feature***************
********************************/

.feature-main-title {
	color:#7d97ad;
	font-family: Arial, sans-serif;
}

.feature-row {
	text-align: center;
}

a {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-size: 180%;
	color: #2d3c49;
}

.featurepic {
	height: auto;
	width: auto;
}